@import "tailwindcss";

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

html {
    font-family: 'Fira Code', sans-serif;
}