@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
    --color-white: #e6f1ff;
    --color-green: #64ffda;
    --color-slate: #8892b0;
    --color-light-slate: #a8b2d1;
    --color-lightest-slate: #ccd6f6;
    --color-light-navy: #112240;
}

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

html {
    font-family: 'Fira Code', sans-serif;
}

.email {
    writing-mode: vertical-rl;
}