---
import AstroSvg from '../assets/svg/astro.svg';
import Node from '../assets/svg/node-js.svg';
import Tailwind from '../assets/svg/tailwind.svg';
import Spring from '../assets/svg/spring-boot.svg';
import CSS3 from '../assets/svg/css3.svg';
import HTML5 from '../assets/svg/html5.svg';
import JS from '../assets/svg/javascript.svg';
import MySQL from '../assets/svg/mysql.svg';
import Firebase from '../assets/svg/firebase.svg';
import Java from '../assets/svg/java.svg';
import Android from '../assets/svg/android.svg';
import AWS from '../assets/svg/aws.svg';
---

<section id="about">
    <div id="about" class="flex items-center justify-evenly h-screen space-x-6">
        <img src="/imgs/nacho.jpg" alt="Ignacio Martín" 
        class= "max-xl:hidden opacity-75 rounded-lg w-70 h-70 object-cover shadow-xl shadow-light-navy mb-50 transition duration-300 
        hover:shadow-box-lg hover:-translate-y-1 hover:-translate-x-1 hover:opacity-100" />
        <div class="max-xl:items-center flex flex-col items-end justify-center space-y-4">
            <div class="flex items-center justify-center space-x-5">
                <h1 class="text-4xl font-bold text-lightest-slate">Sobre mí</h1>
                <span class="max-xl:hidden border-1 w-70 border-light-navy"></span>
            </div>
            <p class="max-xl:text-center font-light text-end text-slate">
                Hola! Soy <strong class="text-green font-bold">Ignacio</strong> y me encanta crear aplicaciones y sitios web que ofrezcan experiencias 
                únicas y funcionales. Mi interés por el desarrollo web empezó cuando comencé a experimentar con <strong>HTML, CSS y JavaScript</strong> para 
                diseñar páginas atractivas y dinámicas. Desde entonces, he tenido la oportunidad de trabajar en diversos proyectos, desde prácticas 
                desarrollando frontends con <strong>HTML, CSS y JavaScript</strong>, hasta implementar lógicas de servidor completas con 
                <strong>Node.js, Firebase, y APIs como Stripe y SendGrid</strong>. 
                También he desarrollado aplicaciones <strong>Android en Java</strong>, aplicando metodologías ágiles como SCRUM para organizar el trabajo en equipo. 
                Actualmente, estoy enfocado en construir productos accesibles y eficientes, aplicando buenas prácticas tanto en frontend como en backend. 
                Algunas tecnologías con las que he estado trabajando últimamente:
            </p>
            <div class="max-xl:space-x-3 grid grid-cols-2 mt-4 items-center space-x-10">
                <div class="border border-green rounded-lg shadow-md shadow-light-navy p-4 transition duration-400 hover:bg-dark-green hover:border-dark-green">
                    <h3 class="text-xl font-bold text-green text-center">Frontend</h3>
                    <div class="grid grid-cols-3 gap-3 items-center p-4">
                        <AstroSvg class="w-10 h-10"/>
                        <JS class="w-9 h-9"/>
                        <Tailwind class="w-10 h-10"/>
                        <Android class="w-10 h-10"/>
                        <HTML5 class="w-10 h-10"/>
                        <CSS3 class="w-10 h-10"/>
                    </div>
                </div>
                <div class="border border-green rounded-lg shadow-md shadow-light-navy p-4 transition duration-400 hover:bg-dark-green hover:border-dark-green">
                    <h3 class="text-xl font-bold text-green text-center">Backend</h3>
                    <div class="grid grid-cols-3 gap-3 items-center p-4">
                        <Node class="w-10 h-10"/>
                        <Spring class="w-9 h-9"/>
                        <Java class="w-10 h-10"/>
                        <MySQL class="w-12 h-12"/>
                        <Firebase class="w-10 h-10"/>
                        <AWS class="w-10 h-10"/>
                    </div>
                </div>
            </div>
            <img src="/imgs/nacho.jpg" alt="Ignacio Martín" 
            class= "xl:hidden opacity-75 rounded-lg w-70 h-70 mt-4 object-cover shadow-xl shadow-light-navy mb-50 transition duration-300 
            hover:shadow-box-lg hover:-translate-y-1 hover:-translate-x-1 hover:opacity-100" />
        </div>
    </div>
</section>

<style>
    strong {
    color: var(--color-white);
    font-weight: 700;
}
</style>


