<div class="flex items-center justify-evenly space-x-6">
    <img src="./public/imgs/nacho.jpg" alt="Ignacio Martín" class="rounded-lg w-70 h-70 object-cover object-center border shadow-xl" />
    <div class="flex flex-col items-end justify-center h-screen space-y-3">
        <div class="flex items-center justify-center space-x-5">
            <h1 class="text-4xl font-bold">Sobre mí</h1>
            <span class="border-1 w-50"></span>
        </div>
        <p class="font-light text-end">Soy un desarrollador web apasionado por crear aplicaciones modernas <br>
            y eficientes. Me especializo en Astro, Node.js y Tailwind CSS. Siempre <br>
            estoy aprendiendo nuevas tecnologías y mejorando mis habilidades para <br>
            ofrecer productos de alta calidad.
        </p>
        <div class="grid grid-cols-2 gap-10 mt-8 items-center">
            <div class="border rounded-md shadow-lg p-4">
                <h3 class="text-xl font-bold">Frontend</h3>
                <ul>
                    <li>Astro</li>
                    <li>HTML5</li>
                    <li>CSS3 (TailwindCSS v4)</li>
                    <li>JavaScript (ES6+)</li>
                    
                </ul>
            </div>
            <div class="p-4 border rounded-md shadow-lg items-center">
                <h3 class="text-xl font-bold">Backend</h3>
                <ul>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>Spring Boot</li>
                    <li>Firebase Functions</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </div>
    </div>
</div>

