---
import GitHub from "../assets/svg/github.svg";
import LinkedIn from "../assets/svg/linkedin.svg";
---

<div class="fixed flex flex-col items-center bottom-0 left-[40px] right-auto w-[40px] gap-5">
    <a href="https://github.com/nachomf18" class="text-slate transition duration-300 hover:-translate-y-1 hover:text-green"><GitHub class="w-7 h-7"/></a>
    <a href="https://www.linkedin.com/in/ignaciomf18/" class="text-slate transition duration-300 hover:-translate-y-1 hover:text-green"><LinkedIn class="w-7 h-7"/></a>
    <span class="border-1 h-40 border-slate"></span>
</div>

<div class="fixed flex flex-col items-center bottom-0 right-[40px] left-auto w-[40px] gap-2">
    <a href="mailto:nachomfernandez@gmail.com" class="email text-slate transition duration-300 hover:-translate-y-1 hover:text-green">nachomfernandez@gmail.com<a/>
    <span class="border-1 h-30 border-slate"></span>
</div>

<style>
    .email {
        writing-mode: vertical-rl;
    }
</style>