<div class="fixed flex flex-col items-center bottom-0 left-[40px] right-auto w-[40px] gap-2">
    <a href="" class="">G</a>
    <a href="" class="">L</a>
    <span class="border-1 h-30"></span>
</div>

<div class="fixed flex flex-col items-center bottom-0 right-[40px] left-auto w-[40px] gap-2">
    <a href="mailto:nachomfernandez@gmail.com" class="email">nachomfernandez@gmail.com<a/>
    <span class="border-1 h-30"></span>
</div>