<section id="contact">
    <div id="contact" class="flex flex-col items-center justify-center h-screen space-y-4">
        <h1 class="text-2xl font-bold text-light-slate">Siguiente paso...</h1>
        <h2 class="text-4xl font-bold text-lightest-slate">¡Contáctame!<h2/>
        <p class="text-4sm text-slate font-light text-center">Si tienes cualquier duda o te has quedado con ganas de saber <br class="max-xl:hidden"> más sobre mí
            puedes descargar mi CV haciendo click en el botón de arriba <br class="max-xl:hidden"> o puedes contactarme por mail
            haciendo click en el botón de abajo
        </p>
        <a class="px-4 py-4 mt-3 border text-center border-green text-green rounded transition duration-300 hover:shadow-box-sm hover:-translate-x-1 hover:-translate-y-1 hover:bg-dark-green hover:border-dark-green" 
            href="mailto:nachomfernandez@gmail.com">¡Aquí abajo!<a/>
    </div>
</section>