<section id="experience">
    <div id="experience" class="max-xl:items-center flex flex-col items-start justify-center xl:h-screen">
        <div class="flex items-center space-x-5">
            <h1 class="text-4xl font-bold text-lightest-slate">Experiencia</h1>
            <span class="max-xl:hidden border-1 w-70 border-light-navy"></span>
        </div>

        <div class="max-xl:border-0 border-l relative border-slate mt-8 space-y-4">

            <div class="flex ml-6 items-center justify-center">
                <span class="max-xl:hidden absolute -left-2.5 w-5 h-5 bg-green rounded-full"></span>
                <div class="group p-5 rounded-xl space-y-2 transition duration-300 hover:bg-light-navy">
                    <p class="text-sm text-slate">Jun 2024 - Nov 2024<p/>
                    <h1 class="text-xl font-bold text-light-slate transition duration-300 group-hover:text-green">Desarrollador Fullstack Freelance · Repeat Packaging</h1>
                    <p class="text-slate font-light">Desarrollé varios sitios web utilizando HTML5, CSS3, JavaScript, Node.js, y 
                        Firebase. Implementé pagos con Stripe y envíos automáticos de correos con SendGrid.
                    </p>
                    <div class="flex mt-4 space-x-2.5 max-xl:flex-col max-xl:gap-1.5">
                        <a class="skill">JavaScript<a/>
                        <a class="skill">Node.js<a/>
                        <a class="skill">Firebase Functions<a/>
                        <a class="skill">Optimización<a/>
                    </div>
                </div>
            </div>

            <div class="flex ml-6 items-center justify-center">
                <span class="max-xl:hidden absolute -left-2.5 w-5 h-5 bg-green rounded-full"></span>
                <div class="group w-full p-5 rounded-xl space-y-2 transition duration-300 hover:bg-light-navy">
                    <p class="text-sm text-slate">Abr 2024 - Jun 2024<p/>
                    <h1 class="text-xl font-bold text-light-slate transition duration-300 group-hover:text-green">Prácticas Desarrollador Fullstack · Repeat Packaging</h1>
                    <p class="text-slate font-light">Desarrollé varios sitios web utilizando HTML5, CSS3, JavaScript, Node.js, y 
                        Firebase. Implementé pagos con Stripe y envíos automáticos de correos con SendGrid.
                    </p>
                    <div class="flex mt-4 space-x-2.5 max-xl:flex-col max-xl:gap-1.5">
                        <p class="skill">HTML5<p/>
                        <p class="skill">CSS3<p/>
                        <p class="skill">JavaScript<p/>
                        <p class="skill">Node.js<p/>
                        <p class="skill">Google Firebase<p/>
                        <p class="skill">Figma<p/>
                        <p class="skill">Notion<p/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>