<section id="experience">
    <div id="experience" class="max-xl:items-center flex flex-col items-start justify-center xl:h-screen">
        <div class="flex items-center space-x-5">
            <h1 class="text-4xl font-bold text-lightest-slate">Experiencia</h1>
            <span class="max-xl:hidden border-1 w-70 border-light-navy"></span>
        </div>

        <div class="max-xl:border-0 border-l relative border-slate mt-8 space-y-4">

            <div class="flex ml-6 items-center justify-center">
                <span class="max-xl:hidden absolute -left-2.5 w-5 h-5 bg-green rounded-full"></span>
                <div class="group p-5 rounded-xl space-y-2 transition duration-300 hover:bg-light-navy">
                    <p class="text-sm text-slate">Octubre 2025 - Actual<p/>
                    <h1 class="text-xl font-bold text-light-slate transition duration-300 group-hover:text-green">Desarrollador Junior · Jornada parcial · MundoSMS</h1>
                    <ul class="text-slate font-light">
                        <li>Desarrollo Backend (PHP & MySQL): Gestioné la persistencia de datos de agentes de IA mediante el desarrollo de consultas SQL para operaciones CRUD.</li>
                        <li>Integración de IA (ElevenLabs): Implementé la comunicación con la API de ElevenLabs para la creación y gestión de agentes de IA de voz, conectando los datos entre el backend y la interfaz de usuario.</li>
                        <li>Optimización de Rendimiento (Lighthouse): Completé la migración de un ecosistema WordPress a un servidor dedicado, logrando mejorar la puntuación de rendimiento en Lighthouse de 40 a 92.</li>
                    </ul>
                    <div class="flex mt-4 space-x-2.5 max-xl:flex-col max-xl:gap-1.5">
                        <a class="skill">HTML5<a/>
                        <a class="skill">BootStrap<a/>
                        <a class="skill">JavaScript<a/>
                        <a class="skill">PHP<a/>
                        <a class="skill">MySQL<a/>
                        <a class="skill">API<a/>
                    </div>
                </div>
            </div>

            <div class="flex ml-6 items-center justify-center">
                <span class="max-xl:hidden absolute -left-2.5 w-5 h-5 bg-green rounded-full"></span>
                <div class="group w-full p-5 rounded-xl space-y-2 transition duration-300 hover:bg-light-navy">
                    <p class="text-sm text-slate">Abr 2024 - Jun 2024<p/>
                    <h1 class="text-xl font-bold text-light-slate transition duration-300 group-hover:text-green">Desarrollador Junior · Prácticas (3 meses) - Freelance (5 meses) · Repeat Packaging</h1>
                    <ul class="text-slate font-light">
                        <li>Desarrollo Full Stack (Node.js): Desarrollé desde cero 4 webs utilizando HTML5, CSS3 y JavaScript, desarrollando arquitecturas modulares y escalables</li>
                        <li>Automatización de Servicios: Integré las APIs de Stripe para pagos seguros y SendGrid para el envío automatizado de facturas por correo en tiempo real, evitando errores de facturación manual.</li>
                        <li>Infraestructura Cloud (Firebase): Me encargué de la lógica en la nube, usando Cloud Functions para ejecutar el backend, Realtime Database para la persistencia de datos en tiempo real y Hosting para el despliegue de las webs.</li>
                    </ul>
                    <div class="flex mt-4 space-x-2.5 max-xl:flex-col max-xl:gap-1.5">
                        <p class="skill">HTML5<p/>
                        <p class="skill">CSS3<p/>
                        <p class="skill">JavaScript<p/>
                        <p class="skill">Node.js<p/>
                        <p class="skill">Google Firebase<p/>
                        <p class="skill">API<p/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>