---
import Code from '../assets/svg/code.svg'
---

<nav class="fixed w-full max-xl:hidden">
    <div class="px-7 pt-2 flex justify-between items-center text-green">
        <a href="/" class="transition duration-300 hover:scale-105 hover:-translate-x-1 hover:-translate-y-1">
            <Code class="w-15 h-15"/>
        </a>
        <div class="gap-10 flex items-center text-lightest-slate">
            <a href="#about" class="transition duration-300 hover:-translate-y-1 hover:text-green">Sobre mí</a>  
            <a href="#experience" class="transition duration-300 hover:-translate-y-1 hover:text-green">Experiencia</a>
            <a href="#projects" class="transition duration-300 hover:-translate-y-1 hover:text-green">Proyectos</a>
            <a href="#contact" class="transition duration-300 hover:-translate-y-1 hover:text-green">Contacto</a>
            <a class="px-3 py-2 border border-green text-green rounded transition duration-300 hover:shadow-box-sm hover:-translate-x-1 hover:-translate-y-1 hover:bg-dark-green hover:border-dark-green" 
            href="/public/files/CV Ignacio Martin Es.pdf">Curriculum<a/>
        </div>
    </div>
</nav>

<style>
    nav {
        background: transparent;
        animation: header-blur-scroll 0.3s linear both;
        animation-timeline: scroll();
        animation-range: 0% 100%;
    }

    @keyframes header-blur-scroll {
        0% { 
            backdrop-filter: blur(0px); 
            background-color: transparent
            box-shadow: none;
        }
        100% { 
            backdrop-filter: blur(10px); 
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
        }
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const sections = document.querySelectorAll('section');
        const navLinks = document.querySelectorAll('nav a[href^="#"]');

        const options = {
            threshold: 0.8
        };

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
            if (entry.isIntersecting) {
                navLinks.forEach(link => link.classList.remove('text-green', '-translate-y-1'));

                const activeLink = document.querySelector(`a[href="#${entry.target.id}"]`);
                if (activeLink) activeLink.classList.add('text-green', '-translate-y-1');
            }
            });
        }, options);

        sections.forEach(section => observer.observe(section));
    });
</script>