<nav class="fixed w-full">
    <div class="mx-auto px-5 py-5 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">Ignacio Martín</a>
        <div class="space-x-6">
            <a href="#about">About</a>  
            <a href="#experience">Experience</a>
            <a href="#projects">Projects</a>
            <a class="px-4 py-4 bg-blue-500 text-white rounded hover:bg-blue-600">Resume</a>
        </div>
    </div>
</nav>