<nav class="w-full">
    <div class="mx-auto px-7 py-5 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold text-green transition duration-300 hover:scale-105 hover:-translate-x-1 hover:-translate-y-1">Ignacio</a>
        <div class="gap-10 flex items-center text-lightest-slate">
            <a href="#about" class="transition duration-300 hover:-translate-y-1 hover:text-green">About</a>  
            <a href="#experience" class="transition duration-300 hover:-translate-y-1 hover:text-green">Experience</a>
            <a href="#projects" class="transition duration-300 hover:-translate-y-1 hover:text-green">Projects</a>
            <a class="px-3 py-2 border border-green text-green rounded transition duration-300 hover:scale-105 hover:-translate-x-1 hover:-translate-y-1" href="/public/files/CV Ignacio Martin Es.pdf">Resume<a/>
        </div>
    </div>
</nav>