<nav class="w-full">
    <div class="mx-auto px-5 py-5 flex justify-between items-center">
        <a href="/" class="text-2xl font-bold">Ignacio Martín</a>
        <div class="space-x-6 flex items-center text-lightest-slate">
            <a href="#about">About</a>  
            <a href="#experience">Experience</a>
            <a class="transition duration-300 hover:text-yellow-300" href="#projects">Projects</a>
            <a class="px-3 py-3 border border-green text-white rounded-lg transition duration-300 hover:scale-105 hover:-translate-x-1 hover:-translate-y-1 hover:shadow-lg" href="/public/files/CV Ignacio Martin Es.pdf">Resume<a/>
                
        </div>
    </div>
</nav>