<section id="hero">
    <div id="hero" class="flex flex-col items-start max-lg:items-center justify-center h-screen space-y-3">
        <h3 class="text-lg text-green">¡Bienvenido! Me llamo</h3>
        <h1 class="text-7xl max-lg:text-4xl font-bold text-lightest-slate">Ignacio Martín<h1/>
        <h2></h2>
        <p class="font-light text-slate max-lg:text-center">
            Soy un desarrollador de aplicaciones multiplataforma
            especializado en ofrecer experiencias digitales excepcionales
            a través de tecnologías modernas y un enfoque centrado en el usuario.
        </p>
    </div>
</section>



