<div class="flex flex-col items-start justify-center h-screen space-y-3 pb-30">
    <h1 class="text-lg text-green animate-fade-in animate-delay-300">¡Bienvenido! Me llamo</h>
    <h2 class="text-7xl font-bold text-lightest-slate">Ignacio Martín</h2>
    <h2></h2>
    <p class="font-light text-slate">
        Soy un desarrollador de aplicaciones multiplataforma<br>
        especializado en ofrecer experiencias digitales excepcionales<br>
        a través de tecnologías modernas y un enfoque centrado en el usuario.
    </p>
</div>


