---
import GitHub from "../assets/svg/github.svg";
import Link from "../assets/svg/link.svg";
---

<section id="projects">
    <div id="projects" class="flex flex-col items-center justify-center h-screen w-full">
        <h1 class="text-4xl font-bold text-lightest-slate">Proyectos</h1>

        <div class="grid grid-cols-2 mt-8 gap-2 max-xl:grid-cols-1">  

            <div class="card group">
                <div class="flex justify-between space-x-2">
                    <img src="" class="" alt="">
                    <div class="flex space-x-2">
                        <a href="https://github.com/nachomf18/portfolio" class="text-slate hover:text-green transition duration-300"><GitHub class="w-6 h-6" /></a>
                    </div>
                </div>
                <h1 class="text-xl text-light-slate font-bold transition duration-300 group-hover:text-green">Portfolio</h1>
                <p class="text-sm text-slate font-light"></p>
                <div class="max-xl:items-center max-xl:justify-center flex items-start mt-4 gap-1">
                    <p class="skill">Astro<p/>
                    <p class="skill">HTML5<p/>
                    <p class="skill">Tailwind CSS<p/>
                </div>
            </div>

            <div class="card group">
                <div class="flex justify-between space-x-2">
                    <img src="" class="" alt="">
                    <div class="flex space-x-2">
                        <a href="https://github.com/nachomf18/inklegacytattoo" class="text-slate hover:text-green transition duration-300"><GitHub class="w-6 h-6" /></a>
                        <a href="https://inklegacy.ignaciomartinfernandez.com" class="text-slate hover:text-green transition duration-300"><Link class="w-6 h-6" /></a>
                    </div>
                </div>
                <h1 class="text-xl text-light-slate font-bold transition duration-300 group-hover:text-green">Ink Legacy Tattoo Studio</h1>
                <p class="text-sm text-slate font-light"></p>
                <div class="max-xl:items-center max-xl:justify-center flex items-start mt-4 gap-1">
                    <p class="skill">HTML5<p/>
                    <p class="skill">CSS3<p/>
                    <p class="skill">JavaScript<p/>    
                    <p class="skill">PHP<p/>
                </div>
            </div>

            <div class="card group">
                <div class="flex justify-between space-x-2">
                    <img src="" alt="">
                    <div class="flex space-x-2">
                        <a href="https://github.com/AngelZhang159/armonia-skills" class="text-slate hover:text-green transition duration-300"><GitHub class="w-6 h-6" /></a>
                    </div>
                </div>
                <h1 class="text-xl text-light-slate font-bold transition duration-300 group-hover:text-green">Armonia Skills</h1>
                <p class="text-sm text-slate font-light"></p>
                <div class="max-xl:items-center max-xl:justify-center flex items-start mt-4 gap-1">
                    <p class="skill">Android Studio<p/>
                    <p class="skill">Spring Boot<p/>
                    <p class="skill">Java<p/>
                    <p class="skill">AWS<p/>
                </div>
            </div>

            <div class="card group">
                <div class="flex justify-between space-x-2">
                    <img src="" class="" alt="">
                    <div class="flex space-x-2">
                        <a href="https://github.com/AngelZhang159/armonia-bills" class="text-slate hover:text-green transition duration-300"><GitHub class="w-6 h-6" /></a>
                    </div>
                </div>
                <h1 class="text-xl text-light-slate font-bold transition duration-300 group-hover:text-green">Armonia Bills</h1>
                <p class="text-sm text-slate font-light"></p>
                <div class="max-xl:items-center max-xl:justify-center flex items-start mt-4 gap-1">
                    <p class="skill">Android Studio<p/> 
                    <p class="skill">Firebase<p/>
                    <p class="skill">Java<p/>
                </div>
            </div>
        </div>

    </div>
</section>