---
import GitHub from "../assets/svg/github.svg";
import Link from "../assets/svg/link.svg";
---

<section id="projects">
    <div id="projects" class="flex flex-col items-end justify-center h-screen">
        <div class="flex items-center space-x-5">
            <h1 class="text-4xl font-bold text-lightest-slate">Proyectos</h1>
            <span class="border-1 w-70 border-light-navy"></span>
        </div>

        <div class="flex">
            <div class="card">
                <div class="flex justify-end space-x-2">
                        <GitHub class="w-6 h-6" />
                        <Link class="w-6 h-6" />
                </div>
                <h1>sadhioufioshfgiposhgfiposhpio</h1>
                <p>aoifhafioahfajopij</p>
            </div>
        </div>

        
    </div>
</section>